#trilha-sonora {
    background-color: var(--black);
    min-height: 80vh;
    padding-bottom: 5em;

    & .playslist-apple-music {
        padding: 0 10em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: .5s;

        & iframe {
            min-height: 100%;
            min-width: 100%;
        }
    }
}

@media(max-width: 1024px) {

    .playslist-apple-music {

        padding: 0 1em !important;
    }
}